/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*========================Made by RixZC==========================*/
/*==========================With Love============================*/
/*=============================:^)===============================*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*---------------------------------------------------------------*/
/*============================Fonts==============================*/
/*---------------------------------------------------------------*/

@font-face {
    font-family: "SF Pro Display Regular";
    src: url("/Content/Fonts/SF-Pro-Display-Regular.otf");
}

/*---------------------------------------------------------------*/
/*=============================Body==============================*/
/*---------------------------------------------------------------*/

body {
    background-color: rgb(0, 0, 87);
}