/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*========================Made by RixZC==========================*/
/*==========================With Love============================*/
/*=============================:^)===============================*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*---------------------------------------------------------------*/
/*============================Fonts==============================*/
/*---------------------------------------------------------------*/

@font-face {
    font-family: "SF Pro Display Regular";
    src: url("/fonts/SF-Pro-Display-Regular.woff2");
}

@font-face {
    font-family: "SF Pro Text Thin";
    src: url("/fonts/SF-Pro-Text-Thin.woff2");
}

/*---------------------------------------------------------------*/
/*=============================Body==============================*/
/*---------------------------------------------------------------*/

body {
    background-color: rgb(0, 0, 0);
}

.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 300px;
}

.logo {
    height: auto;
    width: 150px;

    filter: invert(1) brightness(2);
}

.text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

h1 {
    font-family: "SF Pro Display Regular";
    font-size: 25px;
}

p {
    font-family: "SF Pro Text Light";
    font-size: 15px;

    width: 70%;
}

.return {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 40px;
    width: 120px;

    background-color: rgb(53, 53, 53);

    border-radius: 25px;

    font-family: "SF Pro Rounded Regular";
    font-size: 16px;

    color: white;
    text-decoration: none;

    border: none;
}

.return:hover {
    background-color: rgb(70, 70, 70);
}

/*---------------------------------------------------------------*/
/*============================Queries============================*/
/*---------------------------------------------------------------*/

@media (min-width: 1024px) {
    #sidebar-button {
        display: none;
    }
}